<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>DBMSPart1</servlet-name>
    <servlet-class>part1.mainLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBMSPart1</servlet-name>
    <url-pattern>/mainLoader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchPatients</servlet-name>
    <servlet-class>part1.SearchPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPatients</servlet-name>
    <url-pattern>/SearchPatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPatients</servlet-name>
    <servlet-class>part1.AddPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatients</servlet-name>
    <url-pattern>/AddPatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePatients</servlet-name>
    <servlet-class>part1.UpdatePatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatients</servlet-name>
    <url-pattern>/UpdatePatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPatientIdsByAjax</servlet-name>
    <servlet-class>part1.GetPatientIdsByAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPatientIdsByAjax</servlet-name>
    <url-pattern>/GetPatientIdsByAjax/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePatients</servlet-name>
    <servlet-class>part1.DeletePatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatients</servlet-name>
    <url-pattern>/DeletePatients/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSymptoms</servlet-name>
    <servlet-class>part1.AddSymptoms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSymptoms</servlet-name>
    <url-pattern>/AddSymptoms/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSymptoms</servlet-name>
    <servlet-class>part1.UpdateSymptoms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSymptoms</servlet-name>
    <url-pattern>/UpdateSymptoms/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSymptoms</servlet-name>
    <servlet-class>part1.DeleteSymptoms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSymptoms</servlet-name>
    <url-pattern>/DeleteSymptoms/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPatientConditions</servlet-name>
    <servlet-class>part1.AddPatientConditions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientConditions</servlet-name>
    <url-pattern>/AddPatientConditions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePatientConditions</servlet-name>
    <servlet-class>part1.UpdatePatientConditions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientConditions</servlet-name>
    <url-pattern>/UpdatePatientConditions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePatientConditions</servlet-name>
    <servlet-class>part1.DeletePatientConditions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientConditions</servlet-name>
    <url-pattern>/DeletePatientConditions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNo5</servlet-name>
    <servlet-class>part1.QueryNo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNo5</servlet-name>
    <url-pattern>/QueryNo5/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNo6</servlet-name>
    <servlet-class>part1.QueryNo6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNo6</servlet-name>
    <url-pattern>/QueryNo6/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNo7</servlet-name>
    <servlet-class>part1.QueryNo7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNo7</servlet-name>
    <url-pattern>/QueryNo7/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNo8</servlet-name>
    <servlet-class>part1.QueryNo8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNo8</servlet-name>
    <url-pattern>/QueryNo8/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNo9</servlet-name>
    <servlet-class>part1.QueryNo9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNo9</servlet-name>
    <url-pattern>/QueryNo9/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNo10</servlet-name>
    <servlet-class>part1.QueryNo10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNo10</servlet-name>
    <url-pattern>/QueryNo10/*</url-pattern>
  </servlet-mapping>
  <display-name>DBMSPart1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>